* {
  font-family: Impact;
  font-size: 1.3rem;
}

body {
  background: rgb(255, 237, 179);
}

.square {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: gray;
  text-align: center;

  width: auto;
  height: auto;

  border-radius: 10%;
  border: none;
  margin: 1px;
}

.square._0 {
  background-color: white;
}

.square._1 {
  background-image: url(images/number_1.png);
}

.square._2 {
  background-image: url(images/number_2.png);
}

.square._3 {
  background-image: url(images/number_3.png);
}

.square._4 {
  background-image: url(images/number_4.png);
}

.square._F {
  background-image: url(images/flag.PNG);
}

.square._M {
  background-image: url(images/bomb.png);
}

.grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  border-radius: 10px;
  padding:5px;
  width: 70vh;
  max-width: 800px;
}

.grid > div::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
  flex-wrap: wrap;
  align-items: center;
}

.menuButton {
  padding: 5px 0.5em ;
  border: 0px solid gray;
  background-color: rgba(128, 128, 128, 0.233);
  margin: 5px;
  cursor: pointer;
  border-radius: 0.5em;
  font-size:1em;
}

.menuButton:hover {
  color: white;
  background: black;
}

.gridwrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 0s;
  transition: all 0s;

  visibility: hidden;
  animation: fadeOut 0.5s;
  animation-fill-mode: forwards;
}
#overlay * {
  pointer-events: none;
}

#overlay.active {
  visibility: visible;
  animation: fadeIn 0.5s;
  animation-fill-mode: forwards;
}

#overlayin {
  padding: 1em;
  padding-left: 4em;
  padding-right: 4em;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 20px black;
}

#overlayin p {
  text-align: center;
  font-size: 1em;
}

p.big {
  font-size: 2em !important;
}

p.darker {
  color: #aaa;
}

p.glow {
  animation: glow 1s infinite alternate-reverse;
}

@keyframes glow {
  from { text-shadow: 0 0 20px rgb(255, 255, 0); }
  to { text-shadow: 0 0 20px rgb(255, 115, 0); }
}

#overlay.active #overlayin {
  opacity: 0;
  animation: spinIn 1s ease-in-out;
  animation-fill-mode: forwards;
}

#overlayin * {
  margin: 0px;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes spinIn {
  from { transform: scale(0.1) rotateX(0deg) ; opacity: 0; }
  to { transform: scale(1) rotateX(360deg) ;  opacity: 1; }
}

.status {
  margin-top: 5px;
  text-align: center;
  color: gray;
}
